apiVersion: batch/v1
kind: CronJob
metadata:
  name: insights-snapshot-trigger
spec:
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
          - name: acr-secret
          containers:
          - name: trigger
            env:
            # Admin secret for HTTP trigger authentication
            - name: ADMIN_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: admin-secret
